[submodule "dotbot"]
	path = .dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "nvim/pack/plugins/start/vim-endwise"]
	path = nvim/pack/plugins/start/vim-endwise
	url = git@github.com:tpope/vim-endwise.git
[submodule "nvim/pack/plugins/start/vim-closer"]
	path = nvim/pack/plugins/start/vim-closer
	url = git@github.com:rstacruz/vim-closer.git
[submodule "nvim/pack/plugins/start/dracula"]
	path = nvim/pack/plugins/start/dracula
	url = git@github.com:dracula/vim.git
[submodule "nvim/pack/plugins/start/tokyonight.nvim"]
	path = nvim/pack/plugins/start/tokyonight.nvim
	url = git@github.com:folke/tokyonight.nvim.git
[submodule "nvim/pack/plugins/start/nvim-cmp"]
	path = nvim/pack/plugins/start/nvim-cmp
	url = git@github.com:hrsh7th/nvim-cmp.git
[submodule "nvim/pack/plugins/start/cmp-buffer"]
	path = nvim/pack/plugins/start/cmp-buffer
	url = git@github.com:hrsh7th/cmp-buffer.git
[submodule "nvim/pack/plugins/start/cmp-path"]
	path = nvim/pack/plugins/start/cmp-path
	url = git@github.com:hrsh7th/cmp-path.git
[submodule "nvim/pack/plugins/start/cmp_luasnip"]
	path = nvim/pack/plugins/start/cmp_luasnip
	url = git@github.com:saadparwaiz1/cmp_luasnip.git
[submodule "nvim/pack/plugins/start/LuaSnip"]
	path = nvim/pack/plugins/start/LuaSnip
	url = git@github.com:L3MON4D3/LuaSnip.git
[submodule "nvim/pack/plugins/start/friendly-snippets"]
	path = nvim/pack/plugins/start/friendly-snippets
	url = git@github.com:rafamadriz/friendly-snippets.git
[submodule "nvim/pack/plugins/start/cmp-nvim-lua"]
	path = nvim/pack/plugins/start/cmp-nvim-lua
	url = git@github.com:hrsh7th/cmp-nvim-lua.git
[submodule "nvim/pack/plugins/start/lspkind.nvim"]
	path = nvim/pack/plugins/start/lspkind.nvim
	url = git@github.com:onsails/lspkind.nvim.git
[submodule "nvim/pack/plugins/start/nvim-lspconfig"]
	path = nvim/pack/plugins/start/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig.git
[submodule "nvim/pack/plugins/start/cmp-nvim-lsp"]
	path = nvim/pack/plugins/start/cmp-nvim-lsp
	url = git@github.com:hrsh7th/cmp-nvim-lsp.git
[submodule "nvim/pack/plugins/start/mason.nvim"]
	path = nvim/pack/plugins/start/mason.nvim
	url = git@github.com:williamboman/mason.nvim.git
[submodule "nvim/pack/plugins/start/mason-lspconfig.nvim"]
	path = nvim/pack/plugins/start/mason-lspconfig.nvim
	url = git@github.com:williamboman/mason-lspconfig.nvim.git
[submodule "nvim/pack/plugins/start/vim-illuminate"]
	path = nvim/pack/plugins/start/vim-illuminate
	url = git@github.com:RRethy/vim-illuminate.git
[submodule "nvim/pack/plugins/start/telescope.nvim"]
	path = nvim/pack/plugins/start/telescope.nvim
	url = git@github.com:nvim-telescope/telescope.nvim.git
[submodule "nvim/pack/plugins/start/plenary.nvim"]
	path = nvim/pack/plugins/start/plenary.nvim
	url = git@github.com:nvim-lua/plenary.nvim.git
[submodule "nvim/pack/plugins/start/nvim-treesitter"]
	path = nvim/pack/plugins/start/nvim-treesitter
	url = git@github.com:nvim-treesitter/nvim-treesitter.git
[submodule "nvim/pack/plugins/start/neotest"]
	path = nvim/pack/plugins/start/neotest
	url = git@github.com:nvim-neotest/neotest.git
[submodule "nvim/pack/plugins/start/neotest-elixir"]
	path = nvim/pack/plugins/start/neotest-elixir
	url = git@github.com:jfpedroza/neotest-elixir.git
[submodule "nvim/pack/plugins/start/neotest-go"]
	path = nvim/pack/plugins/start/neotest-go
	url = git@github.com:nvim-neotest/neotest-go.git
[submodule "nvim/pack/plugins/start/which-key.nvim"]
	path = nvim/pack/plugins/start/which-key.nvim
	url = git@github.com:folke/which-key.nvim.git
